{% extends 'msg-box.html' %}
 
{% block choices %}
<div class="choices-container">

    <form method="post">
        {% csrf_token %}

        {% for skill in skills%}
        <button class="button-35 choices" id="choices" name="action" value="battle|{{skill}}|{{ skill.min_atk}}|{{ skill.max_atk}}|{{skill.audio}}">
            {{ skill.name }} | atk: {{ skill.min_atk}} ~ {{ skill.max_atk}}
        </button>
        {% endfor%}
    </form>
    
    

    
</div>
{% endblock %}


{% block enemy %}
<div class="enemy-container">
    <h1 class="attr">{{ enemy.name }}</h1>
    <h2 class="attr">当前HP: 
                            {% if enemy.current_hp <= 0 %}
                                0
                            {% else %}
                                {{enemy.current_hp}}
                            {% endif %}
    </h2>
    <h2 class="attr">攻击力: {{ enemy.attack }}</h2>


</div>
    
{% endblock %}