{% extends 'msg-box.html' %}
 
{% block choices %}
<div class="choices-container">

    <form method="post">
        {% csrf_token %}

        {% for choice in choices%}
            {% if choice.club %}
                <button class="button-35 choices" id="choices" name="action" value="club-choices|{{choice.jump_to.order}}|{{choice.club.name}}">
                    {{ choice.club.name }}
                </button>
            
                
            {% else %}
                <button class="button-35 choices" id="choices" name="action" value="choices|{{choice.jump_to.order}}">
                    {{ choice.name }}
                </button>
            
            {% endif %}
        
        {% endfor%}
    </form>
    
    

    
</div>
{% endblock %}