{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

</head>
<body>    

{% if 'club' in request.get_full_path %}
    
    <a href={% url 'main' %} class="button-35 club-btn">返回</a>

{% else %}

    {% if player.club %}
    <a href={% url 'club' %} class="button-35 club-btn">{{ player.club }}</a>

    {% else %}
    
    {% endif %}

{% endif %}

    <div class="container">
        

        {% block enemy %}
        {% endblock %}

        {% block center %}
        {% endblock %}
        
        {% block shop %}
        {% endblock %}

        {% block choices %}
        {% endblock %}
        
        

        <div>
            <div class="attribute-container">
               
                <h1 class="attr">{{player.name}}</h1>
                <h2 class="attr">当前HP: {% if player.current_hp <= 0 %}
                                            0
                                        {% else %}
                                            {{player.current_hp}}
                                        {% endif %}</h2>
                <h2 class="attr">攻击力: {{player.attack}}</h2>
                <div>
                    <form method="post">
                        {% csrf_token %}
                      <button class="button-89" name="action" value="restart">重开</button>  
                    </form> 
                </div>
                  
                 
                
            </div>

            <div class="item-container">

                {% for item in items%}
                <div class="item">
                    <!-- {{ item }} -->
                    <!-- <img src="{{ item.image }}" alt="" width="50%" > -->
                    
                    <img src="/media/{{ item.image }}" alt="" width="50%" >

                </div>
                
                
                {% endfor%}

            </div>
        </div>
        

        <!-- <div>
            <video width="400" controls>
                <source src="/media/videos/001EDA.mp4" type="video/mp4">
            </video>
        </div> -->
    </div>



    <form method="post">
        {% csrf_token %}
        {% if event.jump_to %}
        <button class="button-35 next-btn" id="next-btn" style="display:none;" name="action" value="next-with-jump-to|{{event.jump_to.order}}">继续</button>
        {% else %}
        <button class="button-35 next-btn" id="next-btn" style="display:none;" name="action" value="next">继续</button>
        {% endif %}
        
    </form>
    
    
    
    <!-- <h2>{{player.hp}}</h2> -->

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>